.heading{
  height: 100px;
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}
.box{
  height: 100px;
  width: 100px;
  background-color: white;
border: 1px solid black;
  font-size: 70px;
  text-align: center;
}
.row{
  display: flex;
 
  justify-content: center;
}
.box:hover{
  background-color: rgb(244, 235, 235);
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 15px 0.2px gray;
}